@tailwind base;
@tailwind components;
@tailwind utilities;

/* A tiny bit of sensible app-wide default styling. */
html,
body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}
